<%- contentFor('HeaderCss') %>

    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center
                    justify-content-between">
                    <h4 class="mb-sm-0 font-size-18"><%- contentFor('HeaderCss') %>

                            <%- contentFor('breadcrumb') %>

                                <!-- start page title -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-title-box d-sm-flex align-items-center
                    justify-content-between">
                                            <h4 class="mb-sm-0 font-size-18">Traditions</h4>

                                            <div class="page-title-right">
                                                <ol class="breadcrumb m-0">
                                                    <li class="breadcrumb-item"><a href="javascript:
                                    void(0);">Manage Clan Info</a></li>
                                                    <li class="breadcrumb-item active">Editable</li>
                                                </ol>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- end page title -->

                                <%- contentFor('body') %>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Traditions</h4>
                                                    <p class="card-title-desc">Cultural practices and customs of the
                                                        [Clan Name] clan.</p>
                                                </div>
                                                <div class="card-body">

                                                    <div class="table-responsive">
                                                        <table class="table table-editable table-nowrap
                                    align-middle table-edits">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tradition Name</th>
                                                                    <th>Description</th>
                                                                    <th>Origins</th>
                                                                    <th>Celebration and Practices</th>
                                                                    <th>Edit</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr data-id="1">
                                                                    <td data-field="id" style="width:
                                                80px">1</td>
                                                                    <td data-field="name">Kwanjula Ceremony</td>
                                                                    <td data-field="origin">The Kwanjula is a traditional
                                                                        marriage ceremony in Buganda Kingdom where the<br>
                                                                        groom's family officially requests the bride's<br>
                                                                        family for her hand in marriage. </td>
                                                                    <td data-field="gender">The Kwanjula tradition dates
                                                                        back centuries and is deeply rooted in Buganda's
                                                                        cultural heritage. It is considered a<br>
                                                                        significant step in uniting families and
                                                                        communities.<br>
                                                                        Celebration and Practices: The Kwanjula involves
                                                                        the exchange of gifts, traditional dances like<br>
                                                                        "Kiganda" and "Nankasa," and the sharing of a<br>
                                                                        special meal called "Kwagala Nyo."</td>
                                                                    <td style="width: 100px">
                                                                        <a class="btn
                                                    btn-outline-secondary btn-sm
                                                    edit" title="Edit">
                                                                            <i class="fas
                                                        fa-pencil-alt"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr data-id="1">
                                                                    <td data-field="id" style="width:
                                                80px">1</td>
                                                                    <td data-field="name">Kwanjula Ceremony</td>
                                                                    <td data-field="origin">The Kwanjula is a traditional
                                                                        marriage ceremony in Buganda Kingdom where the<br>
                                                                        groom's family officially requests the bride's
                                                                        family for her hand in marriage. </td>
                                                                    <td data-field="gender">The Kwanjula tradition dates
                                                                        back centuries and is deeply rooted in Buganda's<br>
                                                                        cultural heritage. It is considered a
                                                                        significant step in uniting families and<br>
                                                                        communities.
                                                                        Celebration and Practices: The Kwanjula involves
                                                                        the exchange of gifts, traditional dances like<br>
                                                                        "Kiganda" and "Nankasa," and the sharing of a
                                                                        special meal called "Kwagala Nyo."</td>
                                                                    <td style="width: 100px">
                                                                        <a class="btn
                                                    btn-outline-secondary btn-sm
                                                    edit" title="Edit">
                                                                            <i class="fas
                                                        fa-pencil-alt"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div> <!-- end row -->

                                    <%- contentFor('FooterJs') %>

                                        <!-- Table Editable plugin -->
                                        <script src="public/assets/libs/table-edits/build/table-edits.min.js"></script>
                                        <script src="public/assets/js/pages/table-editable.int.js"></script>

                                        <%- contentFor('BottomJs') %></h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript:
                                    void(0);">Tables</a></li>
                            <li class="breadcrumb-item active">Editable</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->